html, body {
    margin: 0;
    padding: 0;
}

.main-container{
    background-color: #1B1924;

    width: 390px;
    height: 844px;
}

img{
    width: 90px;
    height: 90px;
}

.top-container{

   
}

#endor-field{

}

#publish-btn{

}
