html, body {
    margin: 0;
    padding: 0;
    background: #70a0af;
    color: white;
}

.main-container{
    background-color: #1B1924;

    width: 390px;

    display: flex;
    flex-direction: column;

    margin: 0 auto;
    padding-right: 20px;

    border-radius: 8px;
    margin-top: 25px;
    margin-bottom: 25px;

    border: white solid 6px;
}


.top-container{

    display: flex;

    flex-direction: column;
    margin: 0 auto;
    width: 317px;
}

img{
    width: 90px;
    height: 90px;

    padding-left: 120px;
    padding-right: 120px;
    padding-top: 30px;
}

#top-title{
    color: white;

    font-family: "Josefin Sans", sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;

    text-align: center;

}

#endor-field{

    height: 118px;
    width: 317px;

    border-radius: 8px;
    background: #444059;
    border: none;

    margin-bottom: 15px;
    padding: 10px;
    color: white;

    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;

}

.sender-container{
    width: 320px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 15px;

}

.sender{
    width: 152.8px;
    height: 40px;
    
    border-radius: 8px;
    background: #444059;

    border: none;

    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;

    padding-left: 10px;

    color: #8F8F8F;
    margin-right: 5px;;

    text-align: center;
}

#publish-btn{
    height: 61px;
    width: 335px;

    color: #04131C;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-size: 22px;
    font-weight: 700;

    border-radius: 8px;
    background: #28A9F1;

    border: none;

    margin: 0 auto;

}

.bottom-container{
    width: 317px;

    display: flex;
    flex-direction: column;
}

#endor-title{
    color: white;
    font-family: "Josefin Sans", sans-serif;

    font-size: 20px;
    font-style: normal;
    font-weight: 700;

    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;

    padding-left: 100px;
}

ul li{
    background: #fff;

    width: 315px;
    height: 72px;

    padding: 10px;

    list-style: none;

    color: #1B1924;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;

    margin-bottom: 10px;

    border-radius: 8px;

}

ul li:hover{
    background: #444059;
    color: white;
}
